# Python
__pycache__/
*.py[cod]
*.class
*.so
.venv/
env/
venv/

# Data
data/
*.csv
*.db
*.sqlite3

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log